<div id="dialog-confirm" title="Xəta baş verdi!">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span> 
        <div id="dialog-confirm-message"><!--message here--></div> 
    </p>
</div>